version = 1
requires-python = ">=3.8"

[[package]]
name = "django"
version = "4.0.0"
source = { registry = "https://pypi.org/simple" }
sdist = { url = "https://files.pythonhosted.org/packages/django-4.0.0.tar.gz", hash = "sha256:abc123" }

[[package]]
name = "requests"
version = "2.28.1"
source = { registry = "https://pypi.org/simple" }
sdist = { url = "https://files.pythonhosted.org/packages/requests-2.28.1.tar.gz", hash = "sha256:def456" }

[[package]]
name = "pytest"
version = "7.2.0"
source = { registry = "https://pypi.org/simple" }
sdist = { url = "https://files.pythonhosted.org/packages/pytest-7.2.0.tar.gz", hash = "sha256:ghi789" }
